.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background: #D9D9D9;
}

.user-settings-bar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.username-me{
    color: #56A2FF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logout{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #434C5C;
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}